<!DOCTYPE html> 
{% extends "base.html" %} 
{% block content %} 
{{ content | safe }}
{% load static %} 
{% load crispy_forms_tags %} 

<html>
	<head>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="{% static 'css/accs/checked.css' %}"> 
	</head>
	<body class="ckBod"> 
		<div class="specDiv">
			<h1 class="chkH1"> Checkout cancelled. </h1>
			<p><img src="{% static 'img/cancelcheckout.gif' %}"></p>
			<p><a class="chkA" href="{% url 'edit_profile' username=request.user %}"> Back </a></p>
			<p><a class="chkA" href="{% url 'home' %}">Go Home</a></p>
		</div>
	</body>

</html>

{% endblock content %} 


