{% extends 'base.html' %}
{% load static %}
{{ content|safe }}   
{% block content %}
<html> 
	<head>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="{% static 'css/resetpassword.css' %}"> 
	</head>
	<body id="resBod">
		<div class="resDiv">
			<h2 class="resH2">Password reset sent</h2>
			<p class="resP"> We've emailed you instructions for setting your password, if an account exists with the email you entered. </p>
			<p class="resP"> You should receive them shortly.</p>
			<p class="resP"> If you don't receive an email, please make sure you've entered the address you registered with, and check your spam folder. </p>
		</div>
	</body>

</html> 
{% endblock %} 
