{% extends 'base.html' %}
{% load static %}
{{ content|safe }}   
{% block content %}
<html> 
	<head>
		<meta charset="utf-8"> 
		<link rel="stylesheet" href="{% static 'css/resetpassword.css' %}"> 
	</head>
	<body id="resBod">
		<div class="resDiv">
			<h2 class="resH2">Reset password</h2>
			<p class="resP"> Forgotten password, enter email address below </p>
			<form method="POST">
				{% csrf_token %}
				{{ form }}
				<button id="resBtn" type="submit">Send email</button>
			</form>
		</div>
	</body>

</html> 
{% endblock %} 
