.resDiv{

	max-width: 480px; 
	margin: 8px auto;

}

.resH2{

	border-bottom: solid;

}

input {


	margin: 8px 0;
	border-radius: 4px;
	border-style: solid;
	border-width: 2px; 

}

/* button */
#resBtn{ 

	background-color: #1c1e30;
	border-color: #9395b8;  
	color: white;
	margin-top: 12px; 

}


#resBtn:hover{

	background-color: #642cdd;

}

/* <a> login link */ 
.resA{
	
	background-color: #1c1e30;
	border-color: #9395b8;  
	color: white;
	text-decoration: none;
	padding: 2px;

}

.resA:hover{
	
	background-color: #642cdd; 

}
